body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-brand{
  font-size:30px;
  margin-left: 5px;
}

.footer{

  color: rgb(121, 124, 125); 
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

}

.note{
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding:10px;
  width:240px;
  margin: 16px;
  float: left;

}

.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;

}

